 a.previous:hover {
    background-color:#4a8f6c;
    color: white;
  }
  a.previous {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
  }
/* .bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  } */