<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<body>
    <div id="main">
        <div class="fof">
            <h1>Oops !</h1>
            <h2>404 Not Found</h2>
            <div class="error-details">
                Sorry, an error has occured, Requested page not found!
            </div>
            <div class="error-actions">
                <a routerLink="/home" class="btn btn-primary btn-lg"><i class="material-icons">home</i>&nbsp;Home Page </a>
            </div>
            <!-- <h4>Back to Home&nbsp;<mat-icon>home</mat-icon></h4> -->
        </div>
    </div>
</body>